{% extends "base.html" %}

{% block title %}
    Habitbot: Your goals
{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Habitbot</a>

                <span class="login-blurb">Hi, @{{ user.username }}!</span>

                <ul class="nav pull-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        {% if messages %}
            <div class="error">
                {% for message in messages %}
                    <p>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="/habits/new_goal/" class="form-inline" id="new-goal">
            {% csrf_token %}

            <fieldset>
                <legend>Make a new goal</legend>
                <input type="text" name="goal_text" placeholder="<action> every <interval>">
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>

        {% if completed or todo %}
            <h2>For today</h2>
        {% endif %}

        {% if completed %}

            <div class="row">
                <div class="span8">
                    <ul class="completed-list">
                        {% for instance in completed %}
                            <li><i class="icon-ok"></i><span>{{ instance.goal.description }}</span> <span class="streak pull-right">current streak: {{ instance.goal.current_streak }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if todo %}

            <div class="row">
                <div class="span8">
                    <form method="POST" action="/habits/completed/">
                        {% csrf_token %}

                        {% for instance in todo %}
                            <label class="checkbox">
                                <input type="checkbox" name="instance" value="{{ instance.id }}">
                                {{ instance.goal.description }} <span class="streak pull-right">current streak: {{ instance.goal.current_streak }}</span>
                            </label>
                        {% endfor %}

                        <button type="submit" class="btn">Done</button>
                    </form>
                </div>
            </div>
        {% else %}
            <p>Nothing more to do today. Good job meeting your goals for today! Maybe celebrate a little?</p>
        {% endif %}

        <h2>Current goals</h2>

        {% if goals %}
            <div class="row">
                <div class="span8">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Started</th>
                            <th>Days</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for goal in goals %}
                            <tr>
                                <td>{{ goal.creation_text }}</td>
                                <td>{{ goal.created_at }}</td>
                                <td>{{ goal.day_string }}</td>
                                <td><form class="delete" method="POST" action="/habits/delete_goal/{{ goal.id }}/" class="form-inline">
                                    {% csrf_token %}
                                    <button class="btn btn-mini" type="submit">Delete</button>
                                </form></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



        {% else %}
            <p>No goals yet. Add a new one above. Here are some examples to get you started:</p>

            <ul>
                <li>Go for a walk every day</li>
                <li>Play 5 games of StarCraft every week</li>
                <li>Go to the gym every other day</li>
            </ul>

            <p>The command needs to be in the form <kbd><em>goal</em> every <em>interval</em></kbd> the way the above examples are.</p>
        {% endif %}
        <hr/>
    </div>
{% endblock %}