{% extends "base.html" %}

{% block title %}
    Habitbot: Your goals
{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Habitbot</a>

            </div>
        </div>
    </div>

    <div class="container">
        <form method="POST" action="/habits/new_goal/" class="form-inline" id="new-goal">
            {% csrf_token %}
            {% if error_message %}
                <div class="control-group error">
                    <div class="controls">
                        <span class="help-inline">{{ error_message }}</span>
                    </div>
                </div>
            {% endif %}
            <fieldset>
                <legend>Make a new goal</legend>
                <input type="text" name="goal_text" placeholder="<action> every <interval>">
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>

        {% if instances or completed_goals %}
            <h2>For today</h2>
        {% endif %}

        {% if completed_goals %}
            <ul>
                {% for instance in completed_goals %}
                    <li class="done">{{ instance.goal.description }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        {% if instances %}
            <form method="POST" action="/habits/completed/">
                {% csrf_token %}

                {% for goal in instances %}
                    <label class="checkbox">
                        <input type="checkbox" name="goal" id="goal{{ forloop.counter }}" value="{{ goal.id }}">
                        {{ goal.description }}
                    </label>
                {% endfor %}

                <button type="submit" class="btn">Done</button>
            </form>
        {% else %}
            <p>Nothing more to do today. Good job meeting your goals for today! Maybe celebrate a little?</p>
        {% endif %}


        <h2>Current goals</h2>

        {% if goals %}
            <ul>
                {% for goal in goals %}
                    <li>{{ goal.creation_text }}, started {{ goal.created_at }}
                        <form method="POST" action="/habits/delete_goal/{{ goal.id }}/" class="form-inline">
                            {% csrf_token %}
                            <button class="btn btn-mini" type="submit">Delete</button>
                        </form></li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No goals yet. Add a new one above. Here are some examples to get you started:</p>

            <ul>
                <li>Go for a walk every day</li>
                <li>Play 5 games of StarCraft every week</li>
                <li>Go to the gym every other day</li>
            </ul>

            <p>The command needs to be in the form <kbd><em>goal</em> every <em>interval</em></kbd> the way the above examples are.</p>
        {% endif %}
        <hr/>
    </div>
{% endblock %}