{% extends "base.html" %}

{% block title %}
    Habitbot: Your goals
{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Habitbot</a>

                <p>Hi, {{ user.first_name }}! <a rel="nofollow" class="logout" href="/logout/">Logout</a></p>

            </div>
        </div>
    </div>

    <div class="container">

        {% if messages %}
            <div class="error">
                {% for message in messages %}
                    <p>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="/habits/new_goal/" class="form-inline" id="new-goal">
            {% csrf_token %}

            <fieldset>
                <legend>Make a new goal</legend>
                <input type="text" name="goal_text" placeholder="<action> every <interval>">
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>

        <h2>Current goals</h2>

        {% if goals %}
            <ul>
                {% for goal in goals %}
                    <li>{{ goal.creation_text }}, started {{ goal.created_at }}
                        <form method="POST" action="/habits/delete_goal/{{ goal.id }}/" class="form-inline">
                            {% csrf_token %}
                            <button class="btn btn-mini" type="submit">Delete</button>
                        </form></li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No goals yet. Add a new one above. Here are some examples to get you started:</p>

            <ul>
                <li>Go for a walk every day</li>
                <li>Play 5 games of StarCraft every week</li>
                <li>Go to the gym every other day</li>
            </ul>

            <p>The command needs to be in the form <kbd><em>goal</em> every <em>interval</em></kbd> the way the above examples are.</p>
        {% endif %}
        <hr/>
    </div>
{% endblock %}