{% extends "base.html" %}

{% block title %}
    Habitbot: Your goals
{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Habitbot</a>

                <span class="login-blurb">Hi, {{ user.first_name }}!</span>

                <ul class="nav pull-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        {% if messages %}
            <div class="error">
                {% for message in messages %}
                    <p>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="/habits/new_goal/" class="form-inline" id="new-goal">
            {% csrf_token %}

            <fieldset>
                <legend>Make a new goal</legend>
                <input type="text" name="goal_text" placeholder="<action> every <interval>">
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>

        {% if completed or todo %}
            <h2>For today</h2>
        {% endif %}

        {% if completed %}
            <ul>
                {% for instance in completed %}
                    <li><span class="done">{{ instance.goal.description }}</span> -- current streak: {{ instance.goal.current_streak }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        {% if todo %}
            <form method="POST" action="/habits/completed/">
                {% csrf_token %}

                {% for instance in todo %}
                    <label class="checkbox">
                        <input type="checkbox" name="instance" value="{{ instance.id }}">
                        {{ instance.goal.description }} -- current streak: {{ instance.goal.current_streak }}
                    </label>
                {% endfor %}

                <button type="submit" class="btn">Done</button>
            </form>
        {% else %}
            <p>Nothing more to do today. Good job meeting your goals for today! Maybe celebrate a little?</p>
        {% endif %}

        <h2>Current goals</h2>

        {% if goals %}
            <ul>
                {% for goal in goals %}
                    <li>{{ goal.creation_text }}, started {{ goal.created_at }}
                        <form method="POST" action="/habits/delete_goal/{{ goal.id }}/" class="form-inline">
                            {% csrf_token %}
                            <button class="btn btn-mini" type="submit">Delete</button>
                        </form></li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No goals yet. Add a new one above. Here are some examples to get you started:</p>

            <ul>
                <li>Go for a walk every day</li>
                <li>Play 5 games of StarCraft every week</li>
                <li>Go to the gym every other day</li>
            </ul>

            <p>The command needs to be in the form <kbd><em>goal</em> every <em>interval</em></kbd> the way the above examples are.</p>
        {% endif %}
        <hr/>
    </div>
{% endblock %}