body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#new-goal { margin-bottom: 40px }

.error { border: solid black 1px; background-color: #ffc; margin-bottom: 16px }
.error p { padding-left: 8px; padding-top: 8px; font-weight: bold }

.done { text-decoration: line-through }

