body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit { padding-top: 10px }
#screenshot { text-align: center }

#username { color: white }
.error {
    border: solid black 1px;
    background-color: #ffc;
    margin-bottom: 16px
}

.error p {
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold
}

.navbar-inverse .brand {
    color: rgb(255, 255, 255);
}

h2 { margin-top: 32px }

.completed-list, .skipped-list { list-style-type: none }
.icon-ok, .icon-pause { margin-right: 6px}
ul.completed-list, ul.skipped-list { margin-left: 0px }


.modal-backdrop, .modal-backdrop.fade.in { opacity: 0.2 }
.modal-body { text-align: center}
td.delete { text-align: right }

.streak {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
    font-weight: bold
}

.progress {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
    font-weight: bold
}

.due-date {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
}

.skip {
    margin-left: 16px;
    display: none;
}

.skipped-list li .goaltext {
    color: #666
}

#settings {
    margin-top: 32px
}
