body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit { padding-top: 10px }
#screenshot { text-align: center }

.login-blurb {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    color: #e7e7e7;
}

.error {
    border: solid black 1px;
    background-color: #ffc;
    margin-bottom: 16px
}

.error p {
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold
}

h2 { margin-top: 32px }

.completed-list { list-style-type: none }
.icon-ok { margin-right: 6px}
ul.completed-list { margin-left: 0px }

form.delete { text-align: right }

.streak {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
    font-weight: bold
}

.progress {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
    font-weight: bold
}