body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit { padding-top: 10px }
#screenshot { text-align: center }

#username { color: white }
.error {
    border: solid black 1px;
    background-color: #ffc;
    margin-bottom: 16px
}

.error p {
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold
}

.navbar-inverse .brand {
    color: rgb(255, 255, 255);
}

h2 { margin-top: 32px }

.completed-list, .skipped-list { list-style-type: none }
.icon-ok, .icon-pause { margin-right: 6px}
ul.completed-list, ul.skipped-list { margin-left: 0px }


.modal-backdrop, .modal-backdrop.fade.in { opacity: 0.2 }
.modal-body { text-align: center}
td.delete { text-align: right }

.streak {
    color: #666;
    font-weight: bold
}

.progress {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
    font-weight: bold
}

.due-date {
    font-variant: small-caps;
    margin-left: 12px;
    color: #666;
}

.skip {
    margin-left: 16px;
    display: none;
}

.skipped-list li .goaltext {
    color: #666
}

#settings {
    margin-top: 32px
}

/* http://elvery.net/demo/responsive-tables/assets/css/no-more-tables.css */

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
